.venv/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

projeto_codigo/data/
projeto_codigo/results/
projeto_codigo/Data.zip
projeto_codigo/.coverage
projeto_codigo/htmlcov/

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc